.navbar {
    background: #ffffff;
    justify-content: left;
}

li{
    margin-bottom: 4px;
    background: #d7d5d5;
    width: 800%;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.btn-primary {
    margin-left: 20px;
    margin-top: 10px;
  }

  .ar-object img {
    width: 200px;
    height: 200px;
    /* Add any other styles you want for the images */
  }